@import 'public/css/_variables';

.login_page
{
	.login_form
	{
		margin: 32px auto 0px auto;
		padding: 20px;
		border: 1px solid #e6ecf0;

		width: 400px;

		background-color: white;

		display: flex;

		flex-direction: column;

		.username {margin-bottom: $margin_form_inputs;}
		.password {margin-bottom: $margin_form_button;}
		.login_button {margin-bottom: $margin_form_inputs;}
	}
}