/**
 **		Style variables
 */
/**
 **		Mixins
 */
/**
 **		Global rules
 */
/* line 4, public/static/public/css/_global.scss */
body {
  margin: 0;
  background-color: #e6ecf0; }

/**
 **		Import components
 */
/* line 1, public/static/public/css/_navbar.scss */
nav {
  border-bottom: 1px solid #CCCCCC;
  height: 40px;
  background-color: white; }
  /* line 9, public/static/public/css/_navbar.scss */
  nav .logo {
    width: 47px;
    height: 49px; }
