$blue_color: rgba(59, 148, 217, 1);
$lightblue_color: rgba(230, 236, 240, 1);
$dark_blue_color: rgba(0, 109, 191, 1);
$lightgrey_color: rgba(230, 236, 240, 1);
$darklightblue_color: rgba(234, 245, 253, 1);

$margin_form_inputs: 15px;
$margin_form_button: 24px;
