{% extends "public/base.html" %}

{% load staticfiles %}


{% block title %}Kuikuiter - Landing{% endblock %}

{% block header_css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'connection/css/style.scss' %}" />
{% endblock %}

{% block header_js %}
{% endblock %}


{% block content %}

	<div class="login_page">
		<form class="login_form" action="{% url 'connection:log_in' %}" method="post">
			{% csrf_token %}
			<div class="title">Connexion</div>
			<input type="text" name="username" class="text_input username" placeholder="Email" />
			<input type="password" name="password" class="text_input password" placeholder="Password" />
			<input type="submit" value="Log in" class="primary_button login_button" />
			<input type="button" href="{% url 'signup:sign_up' %}" value="Sign up" class="secondary_button signin_button" />
		</form>
	</div>

{% endblock %}